.Login {
  max-width: 50%;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

form > input,
form > button {
  max-width: 130px;
  min-height: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}
