.Players {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  height: 100%;
}

.table {
  flex: 2;
  padding: 0 1rem;
  border-right: 0.5px solid #777;
}

.control {
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
  margin-top: 1rem;
  border: 0.5px #777 solid;
}

.Players form {
  color: inherit;
}

th.edit {
  width: 3em;
}

th.time {
  width: 60px;
}

.time-input {
  width: 50px;
}

.player-input {
  width: 250px;
}

.edit-buttons {
  display: flex;
  justify-content: space-around;
}

.edit-buttons > * {
  padding-left: 2px;
  padding-right: 2px;
}

tr > td {
  border-top: 0.5px #777 solid;
}

thead > tr > th:not(:last-child),
tr > td:not(:last-child) {
  border-right: 0.5px #777 solid;
}
