.Trade {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  height: 100%;
}

.table {
  flex: 2;
  padding: 0 1rem;
  border-right: 0.5px solid #777;
}

.control {
  display: flex;
  justify-content: space-between;
}

.stats {
  flex: 1;
  min-height: 100px;
  margin: 0 1rem;
  background-color: rgba(200, 100, 100, 0.3);
}

table {
  width: 100%;
  margin-top: 1rem;
  border: 0.5px #777 solid;
}

tr > td {
  border-top: 0.5px #777 solid;
}

thead > tr > th:not(:last-child),
tr > td:not(:last-child) {
  border-right: 0.5px #777 solid;
}
